@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*
{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

body {
    margin: 0px;
}

main {
    margin : 1em;
}

p {
    margin: 0 0 2em 0;
    font-size: 1.1em;
}

a {
    color: rgb(39, 39, 39);
    text-decoration: none;
}

a:hover {
    color: orange;
}

b
{
    font-weight : 900;
}

h1 {
    font-size: 2.75em;
    font-weight: 700;
    line-height: 1.3;
    margin: 0 0 1em 0;
    letter-spacing: -0.035em;
}

h2, h3, h4, h5, h6 {
    font-weight: 900;
    line-height: 1.5;
    margin: 2em 0 1em 0;
    text-transform: uppercase;
}

h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
}

h2 {
    font-size: 2em;
    background-image: linear-gradient(90deg, #e67399, #f2a640);
    background-position: bottom;
    background-size: 100% 30%;
    background-repeat: no-repeat;
}

h3 {
    font-size: 1.2em;
    text-decoration: underline;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.9em;
}

h6 {
    font-size: 0.8em;
}

.item-border {
    border: 0.2em dashed #CFE5FF;
    margin-bottom: 1em;
    padding: 1em;
}

.item-border > h3 {
    margin-top: 0.2em;
}

strong {
    font-weight: bold;
}

.titreCollege {
    cursor: pointer;
    border-radius: 1em;
}

.titreCollege:hover {
    background-color:rgb(211, 234, 255);
}

header {
    display: flex;
}

header .fixed {
    position: fixed;
    top: 0px;
}
.navbar {
    background-color: #ff8f53;
    margin: 0;
    border-top: solid rgb(188, 188, 188) 1px;
    border-bottom: solid rgb(118, 141, 165) 1px;
    padding: 0;
    width: 100%;
    display: flex;
    top: 0;
    left: 0;
    justify-content: space-between;
    text-align: center;
}

.logo
{
    display: block;
    font-size: 1.2em;
    font-weight: 700;
    padding: 0.8em 2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fffbf8;
}

.logo:hover {
    color: rgb(255, 255, 255);
}

.navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

.navbar li {
    padding : 0.5em;
    list-style-type: none;
}

.navbar li a {
    display: block;
    color: #fffbf8;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5em 1em;
    transition: 0.5s;
    border-radius: 50px;
}

.navbar li a:hover, li a.active {
    background-color: rgb(255, 255, 255);
    color: black;
}

#path {
    margin-bottom: 3em;
}

#path a {
    font-weight: bold;
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: row;
    margin-right: 0%;
}

.containerOptions {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}

.containerOptions > * {
    justify-content: space-between;
    align-items: baseline;
    gap: 4em;
}
.containerOptions * {
    display: flex;
    flex-direction: row;
}

.containerOptions > *{
    margin: 0.2em;
    padding: 0.5em 2em;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(193, 206, 216);
    border-radius: 20px;
    background-color:rgb(245, 241, 238);
}

.selection > * {
    border-style: solid;
    border-color:#c0c0c0;
    border-width: 1.5px;
    border-radius: 8px;
    padding: 0.5em 1em;
    margin : 0.5em 0;
}

.unclicked {
    color: black;
    background-color: white;
    transition-delay: 50ms;
}
.unclicked:hover {
    background-color: rgb(216, 216, 216);
    cursor: pointer;
}

.clicked {
    color: white;
    background-color: rgb(245, 171, 75);
}

.containerOptions > * > * {
    font-weight: bold;
}

#containerTable {
    display: grid;
    width: 100%;
    justify-content: stretch;
    align-items: center;
    column-gap: 5em;
}

#technologieslogos {
    display: flex;
    width: 30%;
    column-gap: 6%;
}

#technologieslogos > * {
    flex: 1 1;
}

td, th {
    border: 1px black solid;
    padding: 6px;
}

tr:hover {
    background-color: rgb(228, 242, 255);
}

th {
    background-color: rgb(77, 89, 100);
    color: white;
    font-weight: bold;
}

.vignetteProtocole a {
    border:#e8e8e8 solid 0.5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1em;
    background-color: rgb(255, 251, 247);
}

.vignetteProtocole img {
    max-width : 70%;
    border-radius: 2em;
}

.attention {
    background-color: rgb(255, 85, 85);
    color: white;
    padding: 0 1em 0 1em;
    margin: 2em 10% 2em 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1em;

}

.mail {
    display: flex;
    align-items: center;
    background-color: rgb(237, 246, 255);
    border: solid grey 1px;
    margin: 0 50% 0 0;
    padding: 0 0 0 1em;
    column-gap: 2em;
    font-size: large;
    cursor: pointer;
}

.mail:hover {
    background-color: #CFE5FF;
}

.financeGrid {
    display: flex;
    justify-content:center;
    align-items: flex-start;
    justify-content: space-between;
}

.tile {
    display: flex;
    color: black;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 26%;
    transition: 700ms;
    aspect-ratio: 1 / 1;
    border-radius: 1em;
    position: relative;
    margin: 7%;
}

.tile:hover {
    width: 28%;
    margin: 6.25%;
    color: black;
}

.tile div {
    font-weight: bolder;
}

.tile img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#imgFinance1Purple {
    opacity: 0;
    transition: 700ms;
}

#imgFinance1Purple:hover {
    opacity: 100%;
}

#imgFinance2Purple {
    opacity: 0;
    transition: 700ms;
}

#imgFinance2Purple:hover {
    opacity: 100%;
}

#imgFinance3Purple {
    opacity: 0;
    transition: 700ms;
}

#imgFinance3Purple:hover {
    opacity: 100%;
}