@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&display=swap');

*
{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

p {
    margin: 0 0 2em 0;
}

b
{
    font-weight : 900;
}

h1 {
    font-size: 2.75em;
    font-weight: 700;
    line-height: 1.3;
    margin: 0 0 1em 0;
    letter-spacing: -0.035em;
}

h2, h3, h4, h5, h6 {
    font-weight: 900;
    line-height: 1.5;
    margin: 2em 0 1em 0;
    text-transform: uppercase;
}

h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.9em;
}

h6 {
    font-size: 0.8em;
}