@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*
{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

body {
    margin: 0px;
}

main {
    margin : 1em;
}

p {
    margin: 0 0 2em 0;
    font-size: 1.1em;
}

b
{
    font-weight : 900;
}

h1 {
    font-size: 2.75em;
    font-weight: 700;
    line-height: 1.3;
    margin: 0 0 1em 0;
    letter-spacing: -0.035em;
}

h2, h3, h4, h5, h6 {
    font-weight: 900;
    line-height: 1.5;
    margin: 2em 0 1em 0;
    text-transform: uppercase;
}

h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
}

h2 {
    font-size: 2em;
    background-image: linear-gradient(90deg, #e67399, #f2a640);
    background-position: bottom;
    background-size: 100% 30%;
    background-repeat: no-repeat;
}

h3 {
    font-size: 1.2em;
    text-decoration: underline;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.9em;
}

h6 {
    font-size: 0.8em;
}

.item-border {
    border: 0.2em dashed #CFE5FF;
    margin-bottom: 1em;
    padding: 1em;
}

.item-border > h3 {
    margin-top: 0.2em;
}

strong {
    font-weight: bold;
}

header {
    display: flex;
}

header .fixed {
    position: fixed;
    top: 0px;
}
.navbar {
    background-color: #ff8f53;
    margin: 0;
    margin-bottom: 3em;
    border-top: solid rgb(188, 188, 188) 1px;
    border-bottom: solid rgb(118, 141, 165) 1px;
    padding: 0;
    width: 100%;
    display: flex;
    top: 0;
    left: 0;
    justify-content: space-between;
    text-align: center;
    color: white;
}

.logo
{
    display: block;
    font-size: 1.2em;
    font-weight: 700;
    padding: 0.8em 2em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

.navbar li {
    padding : 0.5em;
    list-style-type: none;
}

.navbar li a {
    display: block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5em 1em;
    transition: 0.5s;
    border-radius: 50px;
}

.navbar li a:hover, li a.active {
    background-color: rgb(255, 255, 255);
    color: black;
}

.container {
    display: flex;
    flex-direction: row;
    margin-right: 0%;
}

.containerOptions {
    display: flex;
    flex-direction: column;
    margin-right: 20%;
}

.containerOptions > * {
    justify-content: space-between;
    align-items: baseline;
    gap: 4em;
}
.containerOptions * {
    display: flex;
    flex-direction: row;
}

.containerOptions > *{
    margin: 0.2em;
    padding: 0.5em 2em;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(193, 206, 216);
    border-radius: 20px;
    background-color:rgb(245, 241, 238);
}

.selection > * {
    border-style: solid;
    border-color:#c0c0c0;
    border-width: 1.5px;
    border-radius: 8px;
    padding: 0.5em 1em;
    margin : 0.5em 0;
}

.unclicked {
    color: black;
    background-color: white;
    transition-delay: 50ms;
}
.unclicked:hover {
    background-color: rgb(216, 216, 216);
    cursor: pointer;
}

.clicked {
    color: white;
    background-color: rgb(245, 171, 75);
}

.containerOptions > * > * {
    font-weight: bold;
}

#containerTable {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    justify-content: stretch;
    align-items: center;
    column-gap: 5em;
}

#technologieslogos {
    display: flex;
    margin-right : 75%
}

#technologieslogos > * {
    flex: 1 1;
}

td, th {
    border: 1px black solid;
}

th {
    background-color: rgb(58, 58, 58);
    color: white;
    font-weight: bold;
}