@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&display=swap');

*
{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

body {
    margin: 0px;
}

main {
    margin : 1em;
}

p {
    margin: 0 0 2em 0;
}

b
{
    font-weight : 900;
}

h1 {
    font-size: 2.75em;
    font-weight: 700;
    line-height: 1.3;
    margin: 0 0 1em 0;
    letter-spacing: -0.035em;
}

h2, h3, h4, h5, h6 {
    font-weight: 900;
    line-height: 1.5;
    margin: 2em 0 1em 0;
    text-transform: uppercase;
}

h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
}

h2 {
    font-size: 2em;
    background-image: linear-gradient(90deg, #e67399, #f2a640);
    background-position: bottom;
    background-size: 100% 30%;
    background-repeat: no-repeat;
}

h3 {
    font-size: 1.2em;
    text-decoration: underline;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.9em;
}

h6 {
    font-size: 0.8em;
}

.item-border {
    border: 0.2em dashed #CFE5FF;
    margin-bottom: 1em;
    padding: 1em;
}

.item-border > h3 {
    margin-top: 0.2em;
}

strong {
    font-weight: bold;
}

header {
    display: flex;
}

header .fixed {
    position: fixed;
    top: 0px;
}
.navbar {
    background-color: #333;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    top: 0;
    left: 0;
    justify-content: space-between;
    color: white;
}

.logo
{
    display: block;
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    padding: 0.8em 2em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar li {
    padding : 0.5em;
    list-style-type: none;
}

.navbar li a {
    display: block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 0.5em 1em;
    transition: 0.5s;
    border-radius: 50px;
}

.navbar li a:hover, li a.active {
    background-color: rgb(255, 255, 255);
    color: black;
}